.quiver {
    /* margin-top: 25px; */
    margin-bottom: 25px;
    padding-bottom: 50px;
    background-color: #c6dbe7
    /* border: solid black 1px; */
}

.quiver h3 {
    text-align: center;
}

.quiver h2 {
    text-align: center;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    padding: 30px;
    background-color: 	#7fa4b2;
}

.quiver ul {
    list-style-type: none;
    /* padding-left: 0; */
}
.quiver .card {
    margin: 25px;
    background-color: 	#dddddd;
    /* border: 1px solid black */
}
.quiver .card-header {
    background-color: 	#97afb4
}