form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.search-bar {
    text-align: center;
    background-color: #97afb4;
    padding: 20px;
}
.search-bar label {
    font-size: 20px;
}
.search-bar input {
    background-color: #dddddd;
    font-size: 20px
}
.search-bar button {
    font-size: 20px;
    color: black
}
.search-bar select {
    background-color: #dddddd;
    font-size: 20px;
}
.search-bar ul {
    list-style-type: none;
    padding-left: 0px;
}
.search-bar .card {
    margin-left: auto;
    margin-right: auto;
}
.search-bar .card-header {
    background-color: #dddddd;
}